* {
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: solid;
  border-left-style: hidden;
}

.cards {
  display: flex;
  flex-wrap: wrap;

}

section .socials{
  flex: flex;
  justify-content: center;
  align-items: center;
}